body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: cornsilk;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container-1,.container-2,.container-3,.navcenter,.container-4{
    text-align:center;
    padding: 5px;
    border-radius:6px;
    background-color: whitesmoke;
    flex:0 0 80%;
    box-shadow:black;
    margin: 10px;
}
.container-2{
    color: black;
    background:lightblue;
    box-shadow: 3px 3px 10px 10px rgb(124, 81, 134);
}
.container-3 {
    color: orangered;
    background-color: black;
    box-shadow: 3px 3px 10px 10px rgb(155, 202, 92);
}
.container-3 h2 {
    font-size:xx-large;
    color: orangered;
    background-color: black;
    border:0px auto;
    border-radius:5px;
    flex:0 0 50%;
}

#quotebtn,.btn,.navtoggle{
    border:none;
    color:white;
    background:blue;
    padding:2px;
    border-radius: 10px;
    padding: 4px;
    font-size:x-large;
    cursor:pointer;
    margin-bottom:4px;
}

#quotebtn:hover{
    color:yellowgreen;
    background-color: red;
}

blockquote {
    background:wheat;
    border-left:10px solid grey;
    margin: 10px;
    padding:5px;
}

#quAu {
    color:brown;
}
#sendbtn {
    display: block;
    font-size: x-large;
    margin:2px auto;
    border-radius: 5px;
    padding: 4px;
    color:darkorange ;
    background-color: darkmagenta;
}
#sendbtn:hover{
    opacity: 0.8;
    cursor: pointer;
}

input[type=text] {
    width:500px;
    height: 40px;
    padding: 7px;
    margin:2px;
    border: 3px solid #88d5e9;
    border-radius: 5px;
    outline: none;
    font-size:large;
}
input[type=text]:focus{
    box-shadow:0 0 10px #88d5e9;
}
#messageout {
    margin:0.5rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.counter {
    font-size:6rem;
}
#fun {
    color:aqua;
    font-weight: 500;
    font-size:xx-large;
    padding:5px;
    line-height: 1.8 em;
    text-decoration: brown;
}
.navcenter{
    font-size:x-large;
    background-color: blueviolet;
    color:chocolate;
    border-radius: 10px;
    margin:10px;
    border:darkgoldenrod 1px solid;
    justify-content: center;
    flex-wrap: wrap;
}
.links {
    list-style:none;
    padding:10px;
}
.lin {
    padding:10px;
}
.lin a {
    text-decoration:none;
    color:#ffff;

}
.lin a:hover {
    color:darkorange;
}
.menu-item {
    color: black;
    background:pink;
    border: 1px solid lightyellow;
    border-radius: 5px;
    margin:5px;
    padding:3px;
}
.section-center {
    margin: 20px;
    border: 2px navy solid;
    float: left;
}
.container-4 {
    border: indigo 2px solid;
    margin:20px auto;
    padding: 50px;
    font-family:cursive;
    font-size:x-large;
    text-align:center;
    border-radius:5px;
    background-color:lightblue;
    box-shadow:3px 2px 5px 5px blue;
}
#button {
    background-color: greenyellow;
    color:black;
    font-size:medium;
    text-transform:uppercase;
    font-family:sans-serif;
    padding:5px;
    border:0.5px black solid;
    margin:10px;
}
#button:hover {
    background:red;
    cursor:pointer;
}
.end_result {
    flex: auto;
    flex-direction:row;
    color:blue;
    text-shadow:3px 3px 3px 3px lightblue;
}